*{
    font-family: 'Sansita', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#011627;
    color: blanchedalmond;
    border: 40px solid rgb(113, 196, 161);
    text-align: center;
}
body h1 , h2 , p{
    padding: 20px 20%;
}
form{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
form input
{
    padding: 10px;
    margin: 10px;
}
form input[type="submit"]
{
    display: block;
    background-color: rgb(233, 186, 99);
    height: 80px; 
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    margin:auto;
    
}